In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

## Задача 1. Линейная регрессия: прогноз оклада по описанию вакансии.

Загрузите данные об описаниях вакансий и соответствующих годовых зарплатах из файла salary-train.csv

In [17]:
df_train = pd.read_csv('salary-train.csv')
df_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

Проведите предобработку:
- Приведите тексты к нижнему регистру (text.lower()).
- Замените все, кроме букв и цифр, на пробелы — это облегчит дальнейшее разделение текста на слова. Для такой замены в строке text подходит следующий вызов: re.sub('[^a-zA-Z0-9]', ' ', text). Также можно воспользоваться методом replace у DataFrame, чтобы сразу преобразовать все тексты:

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer

for cur_column in data.columns.values[:-1]:
    #df_train[cur_column].apply(lambda x: str(x).lower())
    df_train[cur_column] = df_train[cur_column].str.lower()
    df_train[cur_column] = df_train[cur_column].replace('[^a-zA-Z0-9]', ' ', regex = True)

    
#vectorizer = TfidfVectorizer(min_df=5)
#vectorizer.fit_transform(df_train)

df_train['LocationNormalized'].fillna('nan', inplace=True)
df_train['ContractTime'].fillna('nan', inplace=True)

enc = DictVectorizer()
X_train_categ = enc.fit_transform(df_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
#X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))


#df_train.head()
X_train_categ

NameError: name 'data_train' is not defined